# Compiled files
*.o
*.a

# System files
.DS_Store
.vscode/
*.swp

# Assets management (global rule)
LIBFT/.assets/
!LIBFT/.assets/*.jpg
!LIBFT/.assets/*.png
!LIBFT/.assets/*.gif

# Project specific
*/obj/
*/bin/
