# Compiled files
*.o
*.a

# System files
.DS_Store
.vscode/
*.swp

# Assets management (global rule)
**/.assets/
!**/.assets/**/*.jpg
!**/.assets/**/*.png
!**/.assets/**/*.gif

# Project specific
*/obj/
*/bin/
