# Compiled files
*.o
*.a

# System files
.DS_Store
.vscode/
*.swp

# Assets management (autoriser les images mais cacher le dossier)
.assets/
!.assets/*.jpg
!.assets/*.png
!.assets/*.gif

# Project specific
*/obj/
*/bin/
